.about {
    background: url('../img/bg-curve-desktop.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 100px;

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 45%;
        }

        .text .text-secondary {
            margin-bottom: 1rem;

        }

        .btn{
            a {
                color: $Cyan-color;
                text-decoration: underline;
            }

            img {
                width: 3%;
            }
        }
    }

    .card {
        width: 30%;
        padding:5px 15px 3px 15px;
        background-color: $Grayish-color;
        box-shadow:  0 3px 5px $Gray-color;
        margin-bottom: 3rem;

        p {
            margin-top: 20px;
        }

        .qoute {
            width: 15%;
            margin-right: 20px;
        }

        img {
            width: 15%;
            border-radius: 50%;
            margin-bottom: 20px;
            margin-right: 10px;
        }
    }

    .avater {
        display: flex;
    }
}