.activity {
    background-color: $secondary-color;
    color: $Grayish-color;
    

    &-grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 8rem;

        h3 {
            color: $Grayish-color;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 25px;
            margin-top: 3rem;
            margin-bottom: 1rem;
        }

        p {
            color: $Grayish-color;
            
        }

        .form {
            display: block;
            margin-top: 3rem;

            input[type="email"] {
                padding: 8px 5px;
                outline: none;
                border-radius: 3px;
                border: 1px solid $Gray-color;
                margin-bottom: 1rem;
                cursor: pointer;
                width: 60%;

                &:focus{
                    outline: 1px solid $Cyan-color;
                    border: none;

                    
                }
            }

            input[type="submit"] {
                background-color: $Blue-color;
                padding: 5px 25px;
                color: $Grayish-color;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                border-radius: 3px;
                font-weight: 300;
                border: none;
                outline: none;
            }
        }
    }

}