$primary-color: hsl(243, 87%, 12%);
$secondary-color: hsl(238, 22%, 44%);
$Blue-color: hsl(224, 93%, 58%);
$Cyan-color: hsl(170, 45%, 43%);
$Grayish-color: hsl(240, 75%, 98%);
$Gray-color: hsl(0, 0%, 75%);
